*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --index: calc(1vw + 1vh);
  --color-header: #ffffff;
  --color-text: rgb(109, 109, 109);
  --colorGrey: rgb(134, 133, 133);
  --colorOrange: rgb(246, 118, 5);
}
.container{
  max-width: 1800px;
  overflow-x: hidden;
}
.main-header{
  position: relative;
}
.main-header::after{
  position: absolute;
  z-index: 100;
  width: 100%;
  height: calc(var(--index)*10);
  bottom: calc(var(--index)*-5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.layers{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.layer{
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform;
  z-index: 2;
}
.layers__base{
  transform: translate3d(0, calc(var(--scrollTop)/1.6),0);
  z-index: 0;
  position: absolute;
}
.layers__middle{
  transform: translate3d(0, calc(var(--scrollTop)/2.5),0);
}
.layers__front{
  transform: translate3d(0, calc(var(--scrollTop)/5),0);
}
.layers__header{
  z-index: 1;
  transform: translate3d(0, calc(var(--scrollTop)/3),0);
  will-change: transform;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--color-header);
  margin-top: calc(var(--index)* -4.5);
}
.layers__title{
  font-size: calc(var(--index)*2.5);
  letter-spacing: calc(var(--index)*.7);
  text-shadow: 0 0 calc(var(--index)*1) rgb(255, 255, 255);
}
.layers__caption{
  font-size: calc(var(--index)*1.5);
  text-shadow: 0 0 calc(var(--index)*1) rgb(255, 255, 255);
}
.main-article{
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.main-article__title{
  font-size: calc(var(--index)*1.3);
  text-transform: uppercase;
  letter-spacing: calc(var(--index)*.2);
  font-weight: 750;
  margin: calc(var(--index)*1.5);
}
.colorOrange{
  color:var(--colorOrange);
  font-weight: 900;
}
.colorGrey{
  color: var(--colorGrey);
}
.btn{
  display:grid;
  grid-template-columns: 2fr 1fr 0.1fr 1fr 2fr; 
  margin: calc(var(--index)*1);
}
.btn2{
  padding: calc(var(--index)*.5);
  font-size: calc(var(--index)*1.2);
  cursor: pointer;
  border-radius: 5px;
  border: none;
  user-select: none;
  text-align: center;
  width: calc(var(--index)*14);
  margin: calc(var(--index)*.5) auto;
  background-color: rgb(241, 129, 37);
  color: rgb(255, 255, 255);
  box-shadow: 5px 8px 17px  rgb(150, 150, 150);
}
.btn2:hover{
background-color: rgb(151, 151, 149);
color: rgb(255, 255, 255);
border: none;
box-shadow: 7px 9px 17px  rgb(78, 77, 77);
}
.btn3{
  padding: calc(var(--index)*.5);
  font-size: calc(var(--index)*1.2);
  cursor: pointer;
  border-radius: 5px;
  border: none;
  user-select: none;
  text-align: center;
  width: calc(var(--index)*14);
  margin: calc(var(--index)*.5) auto;
  background-color: rgb(121, 119, 118);
  color: rgb(255, 255, 255);
  box-shadow: 5px 8px 17px  rgb(150, 150, 150);
}
.btn3:hover{
background-color: rgb(151, 151, 149);
color: rgb(255, 255, 255);
border: none;
box-shadow: 7px 9px 17px  rgb(78, 77, 77);
}

span{
  color: var(--colorGrey);
  letter-spacing: calc(var(--index)*.2);
}
.liSection{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
  position: relative;
  }
.imgLi{
    width: 100%;
  }
li{
    font-size: calc(var(--index)*1); 
    
    margin: calc(var(--index)*1);
  }
  ul{
    margin: calc(var(--index)*2);
  }
p{
    font-size: calc(var(--index)*1.5);
    margin: calc(var(--index)*1.5);
    text-align: center;
  }
.center-div{
    border: 1px solid rgb(219, 216, 216); 
    width: 50%; 
    margin:calc(var(--index)*1.5) auto ;
    background-color: rgb(248, 248, 248);
    border-radius: 10px; 
    box-shadow:5px 7px 15px rgb(150, 150, 150) ;
    z-index: 2; 
    position: relative;
  }
h2{
  margin: calc(var(--index)*2);
  text-align: center;
}
.imgS{
  max-width: 100%;
  box-shadow:5px 7px 15px rgb(150, 150, 150) ;  
}
.grid3col{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  
  z-index: 5;
  position: relative;
}
.GreyDiv{
  padding-bottom: calc(var(--index)*1);
  padding-top: calc(var(--index)/10);
  margin-top: calc(var(--index)*1);
  margin-bottom: calc(var(--index)*1);
  position: relative;
}
.GreyDiv2{
  margin-left: calc(var(--index)*4);
  padding-bottom: calc(var(--index)*1);
}
.grid2col{
  display: grid;
  grid-template-columns: 1fr 1fr;  
  margin-left: calc(var(--index)/2);
  margin-right: calc(var(--index)/2);
  align-items: center;
  justify-content: center;
}
.border2storoni{
  border-radius: 30% 5%;
}
.grid2col__h3R{
  font-weight: 400;
  margin-left: calc(var(--index)*1);
  font-size: calc(var(--index)*1); 
  line-height: 1.8; 
}
.grid2col__h3L{
  font-weight: 400;
  margin-right: calc(var(--index)*1);
  font-size: calc(var(--index)*1); 
  line-height: 1.8;  
}
.Box{
  z-index: 2; 
  position: relative;
}
.img-Radhe{
  position: absolute;
  width: calc(var(--index)*17);
  bottom: calc(var(--index));
  right: calc(var(--index)*0.1);
  z-index: 1;
  opacity: .8;
}
.img-Spring{
  position: absolute;
  width: calc(var(--index)*20);
  bottom: calc(var(--index)*1);
  left: calc(var(--index)*1);
  z-index: 1;
 opacity: .8;
}
.img-Spring2{
  position: absolute;
  width: calc(var(--index)*10);
  bottom: calc(var(--index)*.1);
  left: calc(var(--index)*6);
  z-index: 1;
 opacity: .4;
 transform: rotate(90deg);
}
.img-Spring3{
  position: absolute;
  width: calc(var(--index)*9);
  bottom: calc(var(--index)*3);
  left: calc(var(--index)*5);
  z-index: 1;
 opacity: .4;
 transform: rotate(230deg);
}
.img-Spring4{
  position: absolute;
  width: calc(var(--index)*7);
  bottom: calc(var(--index)*1);
  right: calc(var(--index)*8);
  z-index: 1;
 opacity: .4;
 transform: rotate(5deg);
}
.img-Spring5{
  position: absolute;
  width: calc(var(--index)*7);
  bottom: calc(var(--index)*.1);
  right: calc(var(--index)*8);
  z-index: 1;
 opacity: .4;
 transform: rotate(50deg);
}


@media (min-width:321px){
  .telefon{
    display: none;
  }
}

@media (max-width: 320px) {
  .center-div{    
    width: 90%;     
  }
  li{
    font-size: calc(var(--index)*1.3);
    line-height: 1.3;
  }
  .img-Spring4{
    display: none;
  }
  .img-Spring{
    display: none;
  }
  .grid2col{
    display: grid;
    grid-template-columns: 1fr ;  
    margin-left: calc(var(--index)*1);
    margin-right: calc(var(--index)*1);
    align-items: center;
    justify-content: center;
  }
  .grid2col__h3R{
    font-weight: 400;
    margin-left: calc(var(--index)*1);
    font-size: calc(var(--index)*1.5); 
    line-height: 1.8; 
  }
  .grid2col__h3L{
    font-weight: 400;
    margin-right: calc(var(--index)*1);
    font-size: calc(var(--index)*1.5); 
    line-height: 1.8;  
  }
  .telefon{
    margin-left: calc(var(--index)*1);
    margin-right: calc(var(--index)*1);
  }
}

